header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #a5cfa5;
    border-top: 5px #2d992d solid;
    height: 100px;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #a5cfa5;
    border-bottom: 5px #2d992d solid;
    height: 100px;
}

.img{
    border-radius: 50px;
    width: 85px;
    border: 3px #2d992d solid;
}

.cards{
    margin-top: 250px;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #a5cfa5;
}

.card{
    border-left: 5px #2d992d solid;
    border-right: 5px #2d992d solid;
    padding: 7px;
    width: 20%;
    background-color: #a5cfa5;
}

li{
    list-style: none;
    padding: 3px;
}