header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #a5cfa5;
    height: 100px;
}

header h2{
    margin-top: 40px;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #a5cfa5;
    height: 100px;
    padding-top: 20px;
}

footer li{
    list-style: none;
    border: none;
    display: inline;
    font-size: 30px;
    padding: 3px;

}

.footer-icone a {
    color: black;
}

main{
    margin-top: 150px;
}